.gradle/4.4/fileHashes/fileHashes.bin
.gradle/4.4/fileHashes/fileHashes.lock
.gradle/4.4/taskHistory/taskHistory.bin
.gradle/4.4/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
